h1{
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

h2{
  font-size:1.5rem;
  text-align: center;
  margin: 15px 0 15px 0;
}

h3{
  font-weight:bold;
  font-size:1.2rem;
  margin: 0 0 0px 0;
}

h5{
  margin: 5px 0 0px 0;
}

p{
  line-height: 1.8;
  margin: 0px 0 0px 0;
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}

section{
  padding:30px;
}

a{
  text-decoration: none;
}

body{
  background:#fff;
}

.inline-block_test{
  font-size:2rem;
  display: inline-block;
  padding: 20px 0 0px 0;
}

.text{
  line-height: 1.5;
  margin: 0px 0 0px 0;
}

.headline{
  padding: 20px 0px 5px 0;
}

.headline-info{
  font-weight:bold;
  font-size:1.5rem;
  text-align:left;
  padding: 20px 0px 5px 0;
  margin: 0 0 0px 0;
}