@charset "utf-8";

/*========= ヘッダーのためのCSS ===============*/

.header-bar{
  margin: 0px 0 20px 0;
}

#header_img {
  width: 50px;
  height: 50px;
  margin: 0 30px 0 0px;
}

.navbar-brand{
  font-size:2.5rem;
  text-shadow: 0.4px 0.4px 0.5px #808080;
  color:#e58c4d;
  
  line-height: 0.8;
  margin: 0px 0 0px 0;
}

.navbar-brand:hover{
  color:#e59768;
}

.emphasis{
  text-emphasis: dot #286181;
 -webkit-text-emphasis: dot #286181;
}

.navbar-brand-sub{
  font-size:0.8rem;
  color:#286181;
  text-shadow: 0.2px 0.2px 0.3px #808080;
  
  line-height: 2.0;
}

.navbar-brand-sub2{
  font-size: 0.95rem;
  color:#286181;
  text-shadow: 0.2px 0.2px 0.3px #808080;
  
  margin: 30px 0px 0 -50px;
}





/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav ul{
  list-style: none;
}


/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: #000;
  padding:15px;
  transition:all .3s;
}

nav ul li a:hover{
  color:#666; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
  content:'';
  position: absolute;
  right:30px;
  top:20px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
  border-right:2px solid #999;
  transform: rotate(45deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:21px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:100%;
  top:10px;
  z-index: 4;
    /*形状を指定*/
  background:#666;
  width:200px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}


/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.has-child ul li:last-child a{
  border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
  background:#990;
}

/*==768px以下の形状*/

@media screen and (max-width:768px){
  nav{
    background:#333;
    color: #fff;
  }
  
  nav li.has-child ul,
  nav li.has-child ul ul{
    position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}

nav ul li a{
  border-bottom:1px solid #ccc;
  color: #fff;
}

/*矢印の向き*/
nav ul li.has-child::before,
nav ul ul li.has-child::before{
    transform: rotate(135deg);
  left:20px;
}
    
nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}
  
}


/*========= レイアウトのためのCSS ===============*/
.container-body{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
  margin-top: auto;
}

.card{
  margin: 30px 0 30px 0;
}

.nav_title{
  margin:30px 30px 20px 0;
}

#container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 90vh
}

#header{
  width:15%;
  background:#f2f2f2;
  
  margin: 30px 30px 0px 50px;
}

#main-area{
  
  width:75%;
}

@media screen and (max-width:768px){
#header,
#main-area{
  width:100%;

}
  
} 


